* {
  user-select: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace; /* TODO - można jakąś czcionkę dodać */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
