* {
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
}
body {
  width: 99svw;
  height: 90svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category {
  background-color: white;
  border: solid 2px black;
  border-radius: 15px;
  position: fixed;
  bottom: 50px;
}
.category span {
  font-size: 65px;
  margin: 50px;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}
.wrap {
  height: auto;
  width: 99svw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.letter {
  width: 100px;
  height: 125px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: solid 2px black;
}
.correct {
  background-color: #4cbb17;
}
.reveleated span {
  display: block !important;
}
.break {
  background-color: #0066b2;
  border: solid 0px;
}
.letter span {
  font-size: 50px;
  display: none;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}
.incorrect {
  background-color: #ff0028;
}
